.hero {

    &__content {
        text-align: center;
        position: absolute;
        top: 20%;
        width: 100%;
        z-index: 1;        

        h1 {
            font-size: 24px;
        }

        @include media-breakpoint-up(sm) { 
            top: 12%;
        }

        @include media-breakpoint-up(lg) {
            top: 30%;
        }
    }

    &__img
    {
        display: block;
        object-fit: cover;
        opacity: 0.5;
        width: 100%;
        height: 250px;

        @include media-breakpoint-up(sm) { 
            height: 230px;
        }

        @include media-breakpoint-up(lg) {
            height: 200px;
        }
    }
}