$dark-blue: #264653;
$dark-green: #2a9d8f;
$dark-yellow: #e9c46a;
$dark-orange: #f4a261;
$dark-red: #e76f51;
$dark-purple: #333399;

$dark-blue-100: #597883;
$dark-blue-200: #3b5e6b;
$dark-blue-400: #163845;
$dark-blue-500: #08242f;

$dark-green-100: #77d17c;
$dark-green-200: #49b4a9;
$dark-green-400: #0d9586;
$dark-green-500: #027566;

$dark-yellow-100: #ffedc3;
$dark-yellow-200: #ffe19a;
$dark-yellow-400: #c69e40;
$dark-yellow-500: #a37d21;

$dark-orange-100: #ffd5b4;
$dark-orange-200: #ffbe89;
$dark-orange-400: #d8813b;
$dark-orange-500: #b25f1c;

$dark-red-100: #ffb9a7;
$dark-red-200: #ff977c;
$dark-red-400: #d24e2b;
$dark-red-500: #a53214;

$dark-purple-100: #7272c0;
$dark-purple-200: #4c4ca7;
$dark-purple-300: #1f1f7e;
$dark-purple-400: #0f0f63;

// $theme-colors: () !default;

// $theme-colors: map-merge(
//   (
//     "dark-blue":   $dark-blue,
//     "dark-green":  $dark-green,
//     "dark-yellow": $dark-yellow,
//     "dark-orange": $dark-orange,
//     "dark-red":    $dark-red,
//     "dark-purple": $dark-purple
//   ),
//   $theme-colors
// );